.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100vh;
}

.MTableToolbar-title-9,
.MuiToolbar-root:first-child {
  overflow: unset !important;
}

.MuiIcon-root,
.MuiInputBase-root {
  color: var(--lightGreen) !important;
}

.MuiInput-input {
  color: var(--white) !important;
}

.MuiFormHelperText-root {
  color: var(--lightGreen) !important;
}

.Mui-error {
  color: var(--lightRed) !important;
}

.MuiTypography-root {
  color: var(--white) !important;
}

.MuiTableCell-root {
  color: var(--white) !important;
}
