@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

  --white: white;
  --darkBlue: #090e21;
  --lightBlue: #1d1d35;
  --mediumBlue: #111328;
  --lightRed: #eb1555;
  --lightGreen: #48b37d;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: var(--darkBlue);
  -webkit-font-smoothing: available;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: table;
}

.default-page {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  height: 100%;
}
@media (max-width: 1080px) {
  .default-page {
    max-width: 90vw;
  }
}
